@ThemeColor: #288c66;
@BarColor: lighten(@ThemeColor, 30%);
#NavSearch {
	width: 200px;
}

/* user Bootstrap */
.bootstrap {
	/* make sidebar nav vertical */ @media (min-width:768px) {
		.sidebar-nav .navbar .navbar-collapse {
			padding: 0;
			max-height: none;
		}
		.sidebar-nav .navbar ul {
			float: none;
		}
		.sidebar-nav .navbar ul:not {
			display: block;
		}
		.sidebar-nav .navbar li {
			float: none;
			display: block;
		}
		.sidebar-nav .navbar li a {
			padding-top: 12px;
			padding-bottom: 12px;
		}
	}
}

/* use oneui */
.oneui {
	&.ie{
		.lotusContent{
			min-width: 600px;
		}
	}
	.qestionContainer {
		input[type=text].subjectText {
			width: 300px;
		}
	}
	.form-label{
		margin-top: 1em;
		& ~ * {
			padding-left: 20px;;
		}
	}
	.form-group {
		margin-bottom: 1em;
		.form-label {
			.label {
				font-weight: bold;
			}
		}
		.subject{
			font-size: 150%;
		}
	}
	.list-group {
		.list-group-item {
			span.img {
				&.bin {
					background-image: url('bin.png');
					background-repeat: no-repeat;
					display: inline-block;
					width: 20px;
					height: 20px;
					vertical-align: middle;
				}
			}
			span.name {
				margin-right: 5em;
			}
		}
	}
	.questionListByCreateDate {
		.row {
			border-bottom: 1px dotted #999;
			.left {
				width: 80%;
				display: block;
				float: left;
				.subject{
					font-size: 150%;
				}
				.action{
					margin-left: 1em;
				}
			}
			.right {
				display: block;
				float: left;
				.createDate {
					display: block;
				}
				.owner {
					display: block;
				}
			}
			&:after {
			    visibility: hidden;
			    display: block;
			    content: " ";
			    clear: both;
			    height: 0;
		    }
		    .action{
				a{
					margin-right: 1em;
				}
			}
		}
	}
	#ChoicesList{
		list-style-type: none;
		li{
			font-size: 16pt;
			margin-bottom: 0.5em;
			background-color: #ccc;
			color: #666;
			border: 2px solid #666;
			border-radius: 5px;
			&[checked=checked]{
				background-color: #89c997;
				color: black;
				border-color: #417038;
			}
			input[type=radio], label{
				cursor: pointer;
			}
		}
	}
	#ResultList{
		max-width: 800px;
		> div{
			margin-bottom: 1em;
			.name{
				font-size: 9pt;
				font-weight: bold;
			}
			.bar{
				height: 20px;
				background-color: @BarColor;
				white-space: nowrap;
			}
		}
	}
	.resultTable{
		height: auto;
		display:none;
	}
}